%h1 Welcome to the Sample App
%p
  This is the home page for the
  = link_to 'Ruby on Rails Tutorial', 'https://railstutorial.jp/'
  sample application.

= link_to 'Sign up now!', users_new_path, class: 'waves-effect waves-light btn'
